p{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.link{
  font-family: 'Lato', sans-serif;
  color: white;
  text-decoration: none;

}
/* .name:hover{
  animation: spread 1s ease-in;
}

@keyframes spread {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(40%);
  }
} */

.link:hover{
  cursor: pointer;
  color: #8497ec;
}

.App {
  text-align: center;
}


body{
  /* display: flex;
  justify-content: center; */
  background: 
    linear-gradient(
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2)
    ),
    url(./img/portfolio-wallpaper_1.jpg);
      font-family: 'Lato', sans-serif;

}

.nameSlide {
  animation: slide 0.75s ease-in;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-15%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }

}

.supFade {
  animation: fadeIn 0.3s ease-in;
}

@keyframes fadeIn {
  from {
    opacity:0;
  }
  to{
    opacity: 1;
  }
}

.infoSlideEnter {
  animation: slideRight 0.2s ease-in;
}

@keyframes slideRight {
  from {
    opacity: 0;
    transform: translateX(-5%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.infoHidden {
  opacity: 0;
}

.menuSlide {
  animation: appear 2s ease-in;
}

@keyframes appear {
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.info{
  display: flex;
  justify-content: center;
  margin: 0 300px;
}

.footer{
  margin-top: auto;
}

